* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: cyan;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto, 300px);
    grid-auto-rows: 300px;
    border: 2px solid black;
    border-radius: 1em;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* remover content at the edges and fits everything */
}
